<div class="artwork-show-container">
  <% @artwork.artists.each do |artist| %>
    <p><%= artist.name %></p>
  <% end %>
  <div><%= link_to image_tag(@artwork.image, class: "image-show"), "#{@artwork.image}" %></div>
  <i><%= @artwork.title %> &mdash;</i>
  <%= @artwork.date %>
  <div class="artwork-actions">
    <%= button_to 'Skip', artwork_user_artwork_ratings_path(@artwork), params: { rating: -1 }, class: "skip-button" %>
    <%= button_to 'Like', artwork_user_artwork_ratings_path(@artwork), params: { rating: 1 }, class: "like-button" %>
  </div>
  </div>
